{% extends 'base.html.twig' %} {% block body %}

<div class="container e pt-5 mt-5">
    {% for message in app.flashes("success") %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <form class="container" action="{{ path('login') }}" method="post">
        <div class="form-group r mt-5">
            <label for=""></label>
            <input type="text" name="_username" class="form-control" placeholder="Adresse Email....">
        </div>
        <div class="form-group ">
            <label for=""></label>
            <input type="password" name="_password" id="" class="form-control" placeholder="password...">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success"> connection</button>
        </div>
    </form>
</div>
{% if error %}
<div class="alert alert-danger">
    <ul class="list-unstyled mb-0">
        <li><span class="initialism form-error-icon badge badge-danger">Mot de Pass ou Email non valide</span>
        </li>
    </ul>
</div>
{% endif %} {% endblock %} {% block footer %} {% endblock %}