{% extends 'base.html.twig' %} {% block body %}
<div class="container m-5 p-4 ">
    <h1>Réinitialisation du mot de passe</h1>
    <p>Veuillez entrer votre addresse email ci-dessous.</p>
    {{ form(form) }}
</div>
{% endblock %}