{% extends 'base.html.twig' %} {% block body %}
<div class="container col-lg-20 e pt-5 mt-5 reg1 ">
 <div class="card shadow p-3 mb-5 bg-white rounded " >
   <div class="card-body ">

          <p>
         <p> <h2> <b>Conditions générales d'utilisation </b></h2></p>

 <p> <h6> <b>1.TERMES ET CONDITIONS </b></h6></p> 
 
La gestion du site   www.nasrulex.com est assurée par la société « Due Diligence Technology » situé aux Almadies n° 648 Dakar-Sénégal.  <br><br>
    • L'utilisation de www.nasrulex.com qui est une plateforme de mise en ligne de documents juridiques vaut acceptation des présentes Conditions Générales.<br>
     En y accédant, vous vous engagez à vous référer régulièrement à la dernière version des Conditions Générales disponibles en permanence sur le site www.nasrulex.com. 
     Si vous n’êtes pas d’accord avec toutes ou partie de ces conditions d’utilisation, nous vous invitons à ne pas souscrire à nasrulex.com.  Aussi le site n’est pas responsable de toute utilisation illégale ou malintentionnée du site.<br><br>
    • Les présentes conditions d’utilisation s’appliquent à www.nasrulex.com et portent sur des informations juridiques recherchées, organisées, traitées, publiées et diffusées par les équipes de « Due Diligence Technology ». <br> La mise disposition de ces informations sur le site est le fruit de recherches très poussées, laborieuses et onéreuses menées sur terrain par « Due Diligence Technology ». <br> Ces données proviennent des institutions ou organisations et institutions de l’État du Sénégal qui les ont édictées. <br><br>
    • Ainsi, l’objectif de ce site est de permettre une consultation en ligne par toute personne intéressée, physiques comme morales, dont notamment les consultants, les Cabinets de conseil juridique et fiscal, Cabinets comptable, Cabinets de notaire, Cabinet d’avocats, Chercheurs, Professeurs et Etudiants. <br><br>
    • Les conditions d’utilisation s’appliquent également, sans limitations aucune, à tous autres éléments écrits et graphiques ou de conception, aux logiciels, aux logos et fichiers source HTML ou autres, les groupes de discussion et les fonctions des messageries électroniques proposés dans le cadre de ce site qui est géré par « Due Diligence Technology » pour lesquels elle détient une licence ou qu’elle utilise licitement. 
    <br><br>
   <p> <h7> <b> II. ACCES AUX DONNEES<br></b> </h7> </p>
L’accès aux Données et l’utilisation des fonctionnalités de nasrulex requiert la création d’un compte et la souscription à un ou plusieurs types d’abonnement payant. 
Le paiement de la licence est annuel et donne droit à un accès illimité à la base, selon l’offre payée. L’activation de l’accès est effectuée au plus tard 48 heures à partir de la réception du paiement.
Le paiement peut être effectué par chèque, virement bancaire ou électronique.
Les paiements ne sont considérés définitifs qu’après avoir constaté les paiements sur les comptes de l’entreprise qui édite le site senjuridoc.com. Seuls les paiements effectivement transcrits avec une date valeur certaines peuvent donner lieu à une activation.
L’abonnement est reconductible par tacite reconduction d’une année à une autre, à défaut d’une annulation expresse adressée à l’éditeur 3 mois avant l’expiration de la période annuelle.
Tout incident de paiement en ligne ou à travers les intermédiaires de paiement est de la responsabilité des utilisateurs. La responsabilité de nasrulex ne serait en aucun cas engagée. 
Il est à préciser que les informations fournies par l’utilisateur ne seront utilisées que pour les fins de fonctionnement du site ils ne seront en aucun cas fournis à des tiers.
Facturation
Facture
Tout paiement donne lieu à une facturation libellée au nom des données saisies par l’utilisateur au moment de la passation de la commande.
Politique d’annulation
L’annulation de l’abonnement ne peut pas se faire après établissement de la facture.
 <br><br>
 <p> <h7> <b>III. PROPRIETE ET LICENCE <br></b> </h7> </p>
    • Le site contient des Données qui sont protégés par le droit d’auteur et par d’autres lois sur les droits de propriété intellectuelle. Il est également protégé par le droit d’auteur en tant qu’œuvre, en vertu des lois sénégalaise sur le droit d’auteur et de propriété intellectuelle, des conventions internationales et autres lois sur le droit d’auteur et de propriété intellectuelle.
    • « Due Diligence Technology » peut interrompre, suspendre ou modifier tout aspect de nasrulex à tout moment, y compris la disponibilité de toute fonctionnalité, base de données ou contenu, limiter certains services et fonctionnalités ou restreindre l’accès à tout ou partie du site, sans préavis ni responsabilité aucune.
    •  « Due Diligence Technology » conserve à travers la licence tous les droits sur nasrulex et les éléments qui y figurent, y compris tous les droits d’auteur et autres droits de propriété dans le monde entier, sur tous les supports.  A ce titre il est strictement interdit d’utiliser à toutes fins les éléments qui sont ou font partie de la propriété de nasrulex, sauf autorisation expresse de « Due Diligence Technology ».<br><br>

  <p> <h7> <b>RESTRICTIONS D’UTILISATION <br> </b> <h7></p>
 En accédant à nasrulex, vous n’êtes pas permis de :
    • Poster des illustrations, des publications électroniques, des marques, de la musique, des photos, des vidéos ou des articles de nasrulex sur internet (sur un site de partage de fichiers, un site de partage de vidéos, un réseau social ou tout autre site) ;
        • Diffuser des illustrations, des publications électroniques, des marques, de la musique, des photos, du texte ou des vidéos de senjuridoc, en totalité ou en partie, dans un logiciel ou une application ainsi que de télécharger ses matières vers un serveur pour utilisation sur une application ;
    • Reproduire, dupliquer, copier, diffuser ou exploiter des illustrations, des publications électroniques, des marques, de la musique, des images, du texte ou des vidéos à des fins commerciales ou en échange d’un paiement (même si aucun profit n’est réalisé);
    • Créer des applications ou des techniques permettant de collecter, de copier, de télécharger, d’extraire les Données, la musique, les images, le texte ou les vidéos de nasrulex à des fins de diffusion. (Cela n’interdit pas la diffusion des applications gratuites et non commerciales conçues pour télécharger des fichiers électroniques depuis la partie publique du site, par exemple des fichiers EPUB, PDF, MP3 et MP4) ;
    • Accéder par une méthode autre que celle qui est clairement indiquée et perturber son fonctionnement ;
    • Utiliser nasrulex d’une façon qui cause, ou pourrait causer, des dommages ou encore dégrader sa disponibilité ou son accessibilité ; 
    • Utiliser nasrulex d’une façon illégale, frauduleuse ou nuisible ou en rapport avec une activité de même nature ; 
    • Utiliser nasrulex ou toute illustration, publications électroniques, marques, musique, images, texte ou vidéos dans une démarche mercatique ;
    • Interrompre, suspendre, ralentir ou empêcher l’accès à nasrulex  ;
    • S’introduire ou tenter de s’introduire dans nos systèmes ou détourner les codes sources de nasrulex ; 
    • Porter atteintes aux mesures de sécurité et d’authentification liées à nos droits et intérêts financiers, commerciaux ou moraux et à ceux des usagers de nasrulex ; 
        • Monnayer, vendre, prêter ou concéder tout ou partie de nasrulex, ainsi que les informations qui y sont hébergées et/ou partagées ;
    • Modifier, publier, transmettre, participer au transfert ou à la vente, reproduire, créer des œuvres dérivées, distribuer, exécuter, afficher ou exploiter de quelque manière que ce soit tout le contenu, logiciel, matériel nasrulex en totalité ou en partie ; 
    • Stocker dans un système de stockage et de récupération d’informations sans l’autorisation écrite préalable de « Due Diligence Technology ».
    • Nous nous réservons le droit de prendre toute mesure appropriée en cas de manquement à l’une des dispositions des conditions d’utilisation, des CGV si celles-ci vous sont applicables, ou plus généralement, d’infraction aux lois et règlements en vigueur.
    <br><br>
   <p> <h7> <b> CREATION DE LIEN HYPERTEXTE<br></b> </h7> </P>
    • La création de liens hypertexte vers nasrulex ne peut être faite qu’avec l’autorisation écrite et préalable de « Due Diligence Technology ».

    • Il est autorisé la création de liens hypertextes vers nasrulex accessibles au public, non protégés par un mot de passe ni d’autres mesures de contrôle, à condition de notifier ce lien à « Due Diligence Technology » en envoyant un courrier électronique à l’adresse suivante:  webmaster@nasrulex.com,  de ne pas supprimer, d’encadrer ou de ne pas encadrer les publicités, les avis de droits d’auteur ou d’autres avis sur nasrulex.

    <br><br>
    <p> <h7> <b>GARANTIE, EXCLUSION DE GARANTIE ET LIMITATION DE RESPONSABILITÉ<br></b> </h7> <p>
    • « Due Diligence Technology » fournit les meilleurs efforts pour publier et maintenir en ligne sur nasrulex autant d’informations juridiques que possibles.
    • Elle n’est liée par une quelconque obligation de résultat vis-à-vis du client, ni tenue responsable de dommages qui pourraient résulter de l’accès et l’utilisation des Données et éléments du site par le client. 
    • « Due Diligence Technology » ne formule aucune déclaration et n’offre aucune garantie, expressément ou implicitement sur toute information, contenu, document et autre service mis à votre disposition par l’intermédiaire de nasrulex. 
    • « Due Diligence Technology » ne garantit pas l’exhaustivité, la performance, ou l’adéquation à un usage particulier de nasrulex ou des informations qu’il contient. Elle ne garantit pas également le contenu de nasrulex sans erreur. « Due Diligence Technology » ne garantit pas l’inattaquabilité de nasrulex par des éléments nuisibles. 
    • « Due Diligence Technology » ne sera pas tenue pour responsable des dommages directs, indirects, accidentels, punitifs ou consécutifs (y compris la perte de profit) résultant de l’utilisation de toute information, contenu, document et autre service mis à votre disposition par l’intermédiaire de nasrulex.
    • African Law Report ne peut être tenue responsable des dommages spéciaux, directs, indirects, punitifs ou consécutifs de quelque nature que ce soit (incluant, sans s’y limiter, les frais d’avocats), en raison de causes résultant de la situation, ou incapacité d’utiliser nasrulex, les zones interactives, le contenu, les annonces ou toute communication tierce partie. 
    <br><br>
  <p> <h7> <b>  MODIFICATION DES CONDITIONS<br></b> </h7> </p>
    • « Due Diligence Technology » se réserve le droit de modifier, mettre à jour ou faire évoluer les présentes conditions d’utilisation à tout moment. 
    • Les nouvelles condition d’utilisation s’appliqueront dès leur publication sur nasrulex. Il appartient à l’abonné de prendre régulièrement connaissance des dernières mises à jour. Les versions mises à jour des conditions d’utilisations apparaîtront sur nasrulex et entreront en vigueur immédiatement. L’utilisation continue de nasrulex après de telles modifications implique votre consentement aux nouvelles conditions d’utilisation.<br><br>

<p> <h7> <b>VIOLATION DES CONDITIONS D’UTILISATION<br></b> </h7> </p>
    • Sans préjudice de ses autres droits, « Due Diligence Technology » se réserve le droit de prendre des mesures appropriées contre vous si vous ne respectez pas d’une façon ou d’une autre les conditions d’utilisation. Elle peut suspendre votre accès à nasrulex, vous interdire l’accès à nasrulex, empêcher les ordinateurs qui utilisent votre adresse IP d’accéder à nasrulex, contacter votre fournisseur d’accès à Internet pour lui demander de bloquer votre accès à nasrulex et/ou vous poursuivre en justice.

    <br><br>
 <p> <h7> <b>   LOI ET JURIDICTION COMPÉTENT<br></b> </h7> </p>
    • Les présentes condition d’utilisation sont régies par les lois de l’État du Sénégal et s’interprètent conformément à ces lois, sans considération des règles de conflit de lois. <br><br>
<p> <h7> <b>AUTONOMIE DES DISPOSITIONS<br></b> </h7> </p>
    • Si une disposition quelconque des présentes conditions d’utilisation devait être déclarée nulle, invalide, inapplicable ou illégale par un tribunal de la juridiction compétente, les autres dispositions resteraient en vigueur. 
    • L’absence d’exécution de l’une des dispositions des présentes conditions d’utilisation par « Due Diligence Technology » ne constituerait pas et ne pourrait pas être interprétée comme l’annulation de cette disposition ou l’annulation du droit d’exécuter celle-ci.
        • Si l’une des dispositions de ces conditions d’utilisation est en conflit avec les conditions des autres services de « Due Diligence Technology », cette disposition sera réputée séparable des dispositions restantes et n’affectera ni leur validité ni leur applicabilité.<br><br>
 <p> <h7> <b>INTÉGRALITÉ DE L’ACCORD<br></b> </h7> </p>
    • Les termes des présentes condition d’utilisation constituent l’intégralité de l’accord conclu entre vous et « Due Diligence Technology en rapport avec l’utilisation de nasrulex. Ils annulent et remplacent tous les accords antérieurs relatifs à votre utilisation de nasrulex.
    • Les présentes conditions d’utilisation constituent l’accord intégral en ce qui concerne l’accès et l’utilisation de nasrulex, des zones interactives, du contenu et des publications. 
    • Nonobstant toute disposition contraire des présentes conditions d’utilisation, si vous avez un accord écrit distinct signé avec un fournisseur qui s’applique à votre utilisation du contenu de ce fournisseur, cet accord constitue l’intégralité de l’accord entre vous et ce fournisseur à l’égard du produit concerné. Le contenu qui y est soumis et les présentes conditions d’utilisation doivent être considérés comme n’ayant aucune force ou effet vis-à-vis de ce contenu.
 </div>
    </div>
          </div>
          {% endblock %}