{% extends 'admin.html.twig' %} {% block body %}
<div class="mt-5 pt5">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
</div> {% endblock %}