{% extends 'base.html.twig' %} {% block body %}
<div  style="background-color: 	rgb(11, 11, 109)" class="sa">
                    <a href="{{path('acceuil')}}" class="text-white ls">Acceuil > abonnement</a>
</div>
  
<div class="container">
    <div class="docs  ">
<h2 class="text-center mt-5 text-bold">  NOS ABONNEMENTS</h2>
<h6 class="text-center">Des packs pour répondre facilement et rapidement aux besoins d'information juridique des professionnels et particuliers.</h6>        <div class="row mt-5">
            <div class="col-lg-6 pack col-sm-12 ">
                <div class="card shadow p-3 mb-5 bg-white rounded  ">
                    <img class="card-img-top mt-3 mb-3 t1" src="cap1.png"  alt="Card image cap">
                   
                    <h4 class="text-center" style="color:gray;font-weight: bold;">Plus de 10 comptes</h4>
                    
                    <hr style="background-color:gray;height: 0.5px;height: 0.5px;">
                    <p class="card-text text-center ">50 000 TTC par utilisateur <br>
                    Remise 25% pour plus de 4 comptes<br>
 (Juridique, fiscal, social, foncier, comptable, affaires) <br><br>
Full accès /AN <br><br>
Support Tel + email <br> </p>
 <div style="background-color: 	rgb(11, 11, 109)">
                   <h6 class="text-center card-body  ">  <a href="login"  class="bc"> je m'abonne</a></h6> 
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pack col-sm-12">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top mt-3 mb-3 t1" src="cap2.png"  alt="Card image cap">
                    <h4 class="text-center" style="color:gray;font-weight: bold;">5 à 10 comptes</h4>

                    <hr style="background-color:gray;height: 0.5px;height: 0.5px;">
                    <p class="card-text text-center "> 50 000 TTC par utilisateur <br>
Remise 25% pour plus de 4 comptes<br>
 (Juridique, fiscal, social, foncier, comptable, affaires) <br><br>
Full accès /AN <br><br>
Support Tel + email <br> </p>
 <div  style="background-color: rgb(15, 180, 180)">
                   <h6 class="text-center card-body ">  <a href="login" class="bc"> je m'abonne</a></h6> 
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 pack col-sm-12">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top mt-3 mb-31 t1" src="cap3.png"  alt="Card image cap">
                    <h4 class="text-center " style="color:gray;font-weight: bold;">2 à 4 comptes</h4>

                    <hr style="background-color:gray; height: 0.5px;">
                    <p class="card-text text-center ">50 000 TTC /par utilisateur <br>
Remise 15% pour plus de 4 comptes<br><br>
Full accès<br><br>
Support Tel + email <br></p>
<div style="background-color: rgb(255, 0, 221)">
                   <h6 class="text-center card-body ">  <a href="login" class="bc"> je m'abonne</a></h6> 
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pack col-sm-12">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="t4">
                </div>
                    <h4 class="text-center" style="color:gray;font-weight: bold;">Accès gratuit</h4>

                    <hr style="background-color:gray; height: 0.5px;">
                    <p class="card-text text-center ">Module <br>
Module : Plus de 100 textes accès libre </p>
 <div  style="background-color:  springgreen" class="bc4"  >
                   <h6 class="text-center card-body ">  <a href="login" class="bc"> je m'abonne</a></h6> 
                     </div>
                </div>
            </div>
          
        </div>
    </div>
</div>


{% endblock %} 