{% extends 'base.html.twig' %} {% block body %}
<div style="background-color: 	rgb(11, 11, 109)" class="sa">
    <a href="{{path('acceuil')}}" class="text-white ls">Acceuil > abonnement</a>
</div>
<div class="container-fluid " style="background-color:#E8E8E6">
    <!-- Contenedor -->
    <div class="row">
        <div class="pricetable col-4-md">
            <h3 class="titleprice text-center font-weight-bold">STARTING</h3>
            <div class="ligne1"></div>
            <p class="text-center" style="color:gray">
                dolores assumenda! aut accusquis corrupti assumenda! aut accusquis corrupti
            </p>
            <div class="price">

                <div class="priceprice pt-3"><span class=" font-weight-bold" style="font-weight: bold;font-size:xx-large;">100$</span></div>
            </div>
            <div class="princecondition mt-4">
                <div class="ligne"></div>
                <p>50 000 TTC par utilisateur
                </p>
                <div class="ligne"></div>
                <p>50 000 TTC par utilisateur
                </p>
                <div class="ligne"></div>
                <p>50 000 TTC par utilisateur
                </p>
                <div class="ligne"></div>
                <p>50 000 TTC par utilisateur
                </p>
            </div>
            <div class="priceaction text-center" style="color:white">
                <button class='btn btn-price1' style="color:white;width: 100px;">Select</button>
            </div>
        </div>
        <div class="pricetable col-4-md">
            <h3 class="titleprice text-center font-weight-bold">STARTING</h3>
            <div class="ligne1"></div>
            <p class="text-center" style="color:gray">
                dolores assumenda! aut accusquis corrupti assumenda! aut accusquis corrupti
            </p>
            <div class="price">

                <div class="priceprice pt-3"><span class=" font-weight-bold" style="font-weight: bold;font-size:xx-large;">100$</span></div>
            </div>
            <div class="princecondition mt-4">
                <div class="ligne"></div>
                <p>50 000 TTC par utilisateur
                </p>
                <div class="ligne"></div>
                <p>50 000 TTC par utilisateur
                </p>
                <div class="ligne"></div>
                <p>50 000 TTC par utilisateur
                </p>
                <div class="ligne"></div>
                <p>50 000 TTC par utilisateur
                </p>
            </div>
            <div class="priceaction text-center" style="color:white">
                <button class='btn btn-price1' style="color:white;width: 100px;">Select</button>
            </div>
        </div>
        <div class="pricetable col-4-md">
            <h3 class="titleprice text-center font-weight-bold">STARTING</h3>
            <div class="ligne1"></div>
            <p class="text-center" style="color:gray">
                dolores assumenda! aut accusquis corrupti assumenda! aut accusquis corrupti
            </p>
            <div class="price">

                <div class="priceprice pt-3"><span class=" font-weight-bold" style="font-weight: bold;font-size:xx-large;">100$</span></div>
            </div>
            <div class="princecondition mt-4">
                <div class="ligne"></div>
                <p>50 000 TTC par utilisateur
                </p>
                <div class="ligne"></div>
                <p>50 000 TTC par utilisateur
                </p>
                <div class="ligne"></div>
                <p>50 000 TTC par utilisateur
                </p>
                <div class="ligne"></div>
                <p>50 000 TTC par utilisateur
                </p>
            </div>
            <div class="priceaction text-center" style="color:white">
                <button class='btn btn-price1' style="color:white;width: 100px;">Select</button>
            </div>
        </div>

    </div>
</div>




{% endblock %}