<div class="container">
    <div> <img class="ml-3" src="{{ 'https://nasrulex.com/public/assets/img/Nasurlex-logo.png'}}" alt="">
    </div>
</div>

<div class="container">

    <h3>Création de compte

    </h3>
    <p>
 Plus qu'une étape, vous y êtes presque...
<b>Votre compte nasrulex a été crée avec succès !</b>
Il ne vous reste plus qu'à le valider afin de pouvoir accéder à notre plateforme.<a href="{{ absolute_url(path('activation', {'token': token})) }}">Activer Mon Compte</a></p>
 <p>Néanmoins c'est
avec joie que nous attendons vos retours sur notre adresse dédiée : admin@nasrulex.com</p>
<p>Cordialement</p>
<p>Le Service Support</p>
    

</div>