<div class="container">
    <div> <img class="ml-3" src="{{ 'https://nasrulex.com/public/assets/img/Nasurlex-logo.png'}}" alt="">
    </div>
</div>

<div class="container">

    <h3>Cher(e) Utilisateur
    </h3>
    <p>Vous avez demandé à modifier le mot de passe de votre compte Nasrulex ! Veillez cliquez </p>
    <p><a href="{{ url  }}">Réinitialiser </a></p>
    <p> Si vous n'êtes pas à l'origine de cette demande , nous vous conseillons d' ignorer ce mail .
    </p>
    <p>Néanmoins c'est avec joie que nous attendons vos retours sur notre adresse dédiée : admin@nasrulex.com</p>
    <p> Cordialement</p>
    <p> Le Service Support</p>

</div>